<!-- [name] is a variable declared inside RingOfFire/src/app/player/player.component.ts line 10
player is the variable used in line 16 inside the *ngFor-Statement
-->
<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px' : 100 + (i * 90)}"
            [name]="player"
            [playerActive]="i == game.currentPlayer"         
            class="playerPosition">
</app-player>

<div class="field">
    <div class="cardStack">

        <!-- Card stack -->
        <img  *ngFor="let c of [0, 1, 2, 3]; let i = index" [ngStyle]="{'right.px' : i * 5}" 
            src="./../../assets/img/cards/card_cover.png">
        <img  (click)="takeCard()" class="topCard" style="right: 25px" 
            src="./../../assets/img/cards/card_cover.png">
        
        <!-- Stack for played Cards -->
        <img *ngFor="let card of game.playedCards" class="playedCard" style="right: 25px"
            src="./../../assets/img/cards/{{ card }}.png">

        <!-- Current card (Animation) -->
        <!-- Reihenfolge so angepasst, dass aktuell gezogene Karte ganz oben in z gezeichnet wird! -->
        <img  (click)="takeCard()" *ngIf = "pickCardAnimation" class="pickCard" style="right: 25px" 
            src="./../../assets/img/cards/{{ currentCard }}.png">
    </div>
</div>

<button mat-fab color="primary" class="btnAdd" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <!--  Die variable card innerhalb der Klasse in game-info.component.ts erhält den Wert der Variablen currentCard der 
        Klasse  GameComponent in game.component.ts -->
  <app-game-info [card]="currentCard" class="pinBottom"></app-game-info>