<!-- [name] is a variable declared inside RingOfFire/src/app/player/player.component.ts line 10
player is the variable used in line 16 inside the *ngFor-Statement
-->
<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px' : 100 + (i * 90)}"
            [name]="player"
            [playerActive]="i == game.currentPlayer"         
            class="playerPosition hide-mobile">
</app-player>

<div class="scrollContainer hide-desktop">
    <app-player-mobile *ngFor="let player of game.players; let i = index;" 
            [name]="player"
            [playerActive]="i == game.currentPlayer">
    </app-player-mobile>
</div>


<div class="field">
    <div class="cardStack">

        <!-- Card stack -->
        <img  *ngFor="let c of [0, 1, 2, 3]; let i = index" [ngStyle]="{'right.px' : i * 5}" 
            src="./../../assets/img/cards/card_cover.png">
        <img  (click)="takeCard()" class="topCard" style="right: 25px" 
            src="./../../assets/img/cards/card_cover.png">
        
        <!-- Stack for played Cards -->
        <img *ngFor="let card of game.playedCards" class="playedCard" style="right: 25px"
            src="./../../assets/img/cards/{{ card }}.png">

        <!-- Current card (Animation) -->
        <!-- order adapted, so that current drawn card on top of z axis! -->
        <img  (click)="takeCard()" *ngIf = "game.pickCardAnimation" class="pickCard" style="right: 25px" 
            src="./../../assets/img/cards/{{ game.currentCard }}.png">
    </div>
</div>

<button mat-fab color="primary" class="btnAdd" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <!--  Variable card of der class in game-info.component.ts has the value of the variable currentCard of 
        class GameComponent in game.component.ts -->
  <app-game-info [card]="game.currentCard" class="pinBottom"></app-game-info>