<h1 mat-dialog-title>Add new player</h1>
<div mat-dialog-content>
  <p>Please enter the player's name</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <!-- matInput field linked to the variable name -->
    <input matInput [(ngModel)]="name">  
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- button deactivated if length of name is 0 -->
  <button mat-button [disabled]="name.length <= 1" [mat-dialog-close]="name" cdkFocusInitial>Ok</button>
</div>

